

.App { 
  text-align: left;
  background-color: black;
  color : white;
}
.containing {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 35vh;
}

.img-card{
  height:30vh;
}
.img-card-actor-movies{
  height:30vh;
}
.categoriesName {
  font-family: 'Anton', sans-serif;
}
.effect:hover {
  height: 35vh;;
}
h1,h2,h3,h4, .categoriesName {
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  color: #45D932 ;
 
}

ul
 {
  list-style: none;
}

.logo {
  width: 8em;
}
.pageFiche {
  display: flex;
}
.nav-link{
  color : green !important;
}


.flexisation{
  display: inline-flex;
  flex-wrap: wrap;  
  justify-content: center;

}
/* routing */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;

}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;


}

.flexisation {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center
}
.gallery-type{
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center
}