

.App { 
  text-align: left;
  background-color: black;
  height: 100vh;
  color : white;
}


.img-card{
  height:30vh;
}

.categoriesName {
  font-family: 'Anton', sans-serif;
}
.Categoname{
  color:#45D932
}
.Categoname:hover{
  color:#45D932
}
.effect:hover {
  height: 35vh;;
  transition: 0.4s ease;
}
h1,h2,h3,h4, .categoriesName {
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  color: #45D932 ;
 
}

ul
 {
  list-style: none;
}

.logo {
  width: 8em;
}
.pageFiche {
  display: flex;
}
.nav-link{
  color : green !important;
}


.flexisation{
  display: inline-flex;
  flex-wrap: wrap;  
  justify-content: center;

}
/* routing */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;

}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
}

.flexisation {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center
}

.gallery-type{
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center
}

.footer{
  color: green;
  text-align: center;
  bottom: 0vh;
}

.prev, .next {
 
  padding-bottom: 5vh;
  text-align: center;
  cursor: pointer;
  color: white;
  transition: 0.6s ease;
  position: absolute;
  width: 60px;
  height: 35vh;
  background-color: rgba(0,0,0,0.8);
  border:none;
  font-size: 5vh;
}

.next {
  right: 0px;
  
}
.prev:focus, .next:focus {
  outline-style:none;
}
.prev {
  left: 0px;
}

.prev:hover, .next:hover {
  color: white;
  height: 35vh;
  background-color: rgba(0,0,0,0.8);
  outline-style:none;
}
/*Top*/

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px;
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red;
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555; 

}

/* Categorie scrool */


.containing {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 35vh;
  width: 100%;
  white-space: nowrap;
}


