.App { 
  text-align: left;
  background-color: black;
  color : white;

 
}
.containing {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 35vh;
}
.movieTitle {
  color : red;
}
.img-card{
  height:30vh;
}

.categoriesName {
  font-family: 'Anton', sans-serif;
}
.img-card:hover {
  height: 35vh;;
}

.LOGO {
  width: 12em
}
