.App { 
  text-align: left;
  background-color: black;
  color : white;

 
}
.containing {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 35vh;
}
.movieTitle {
  color : red;
}
.img-card{
  height:30vh;
}

.categoriesName {
  font-family: 'Anton', sans-serif;
}
.img-card:hover {
  height: 35vh;;
}

/* Fiche film */
.movie-description {
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}
.movie-synopsis {
  text-align: left;
}
.movie-title{
  text-align: left;
}
.movie-pic{
  display: inline;
}
.movie-poster {
  float: left;
  height: 60vh;
}
.movie-profil{
  width: 10%;
}
ul {
  list-style: none;
}

